<!--
  Generated template for the TransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Transactions</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="ios,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <ion-item *ngFor="let transaction of transactions">
      <p>{{transaction.MiscDescr}}</p>
      <p>{{transaction.Amount}}</p>
  </ion-item>
</ion-list>
</ion-content>
