page-login {
    > ion-content {
        background:#FFF; /*url(../assets/imgs/background.jpg) no-repeat;*/
        background-size:cover;
    }

    .logo-container {
        height:50vh;
        text-align: center;

        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .login-container {
        height:47vh;
       /* background:rgba(255,255,255,0.3);*/

       .login-button {
           margin-top:45px;
       }
    }

    ion-input {
        color: #444;
    }
}
