<ion-content padding-bottom>

  <div class="logo-container">
    <img src="assets/imgs/logo.png" />
  </div>

  <div class="login-container" margin-left margin-right>
    <div>
      <ion-list class="bg-transparent">

        <ion-item class="bg-transparent">
          <ion-label floating>Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item class="bg-transparent">
          <ion-label floating>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>

      <button ion-button outline block large margin-top class="login-button" (tap)="btnLogin()">Login</button>
    </div>
  </div>

</ion-content>
