<!--
  Generated template for the VoucherHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Transaction History</ion-title>
    <ion-buttons start>
      <button class="close-button" ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="ios,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="voucherHistoryView">
    <ion-segment-button value="active">
      Active
    </ion-segment-button>
    <ion-segment-button value="redeemed">
      Pending
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="voucherHistoryView">
    <ion-list *ngSwitchCase="'active'">
      <ion-item *ngIf="vouchers.length === 0">No Transactions</ion-item>
      <ion-item  *ngFor="let voucher of vouchers | voucherActive" (click)="showVoucher($event, voucher)">
         <button ion-button color="danger" outline float-right (click)="cancelVoucher($event, voucher)">Cancel</button>
         <p>{{voucher.amount | toCurrency: voucher.currencyTy | async}}</p>
         <p>{{voucher.entryDate | voucherRedeemDate}}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'redeemed'">
      <ion-item *ngIf="vouchers.length === 0">No Pending Transactions</ion-item>
      <ion-item *ngFor="let voucher of vouchers | voucherRedeemed">
         <h2>{{voucher.redeemVendorName}}</h2>
         <p>{{voucher.amount | toCurrency: voucher.currencyTy | async}}</p>
         <p>{{voucher.redeemDate | voucherRedeemDate}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
