<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{vendor.vendorName}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="ios,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-slides pager>

    <ion-slide *ngFor="let image of vendor.images"  class="gallery-image-item">
      <img [src]="image.image_url"  class="gallery-image"/>
    </ion-slide>

  </ion-slides>

</ion-content>
