<!--
  Generated template for the VendorReviewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Reviews</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="ios,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
  <ion-item *ngFor="let item of vendor.reviews" (tap)="expandReview($event)"  
    [ngClass]="isExpanded ? 'expanded' : ''">
    <ion-avatar item-start>
      <img src="{{item.avatarUrl}}">
    </ion-avatar>
    <rating [(ngModel)]="item.rating" 
          readOnly="true"
          max="5"
          emptyStarIconName="star-outline"
          halfStarIconName="star-half"
          starIconName="star"
          nullable="false"
          (ngModelChange)="onModelChange($event)"> <!--use it when you need to do something when user clicks on a star. in case you only need to change ngModel property, this property can be ommited.-->
  </rating>

    <h2>{{item.name}}</h2>
    <p>{{item.comment}}</p>
    <p float-right>{{item.timestamp | timestampToRelative}}</p>
  </ion-item>
</ion-list>
</ion-content>
