page-rate-vendor {
    .feedback {
        height:100%;
    }

    .icon-md-restaurant-color {
        color: #ffb400;
    }

    .rating-value {
        font-size: 5rem;
    }

    .rating-form ion-icon {
        margin: 1rem;
        font-size: 4rem;
    }

    .back-button {
        display:block !important;
    }

    .save-button {
        color:#FFF;
    }
    
    .feedback {
        min-height:100px;
    }
}
