<!--
  Generated template for the RateVendorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Post Review</ion-title>
    <ion-buttons start>
      <button ion-button class="save-button" (tap)="saveReview()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="border-bottom white-bg" text-center padding>
    <div class="rating-form">
      <ion-icon name="ios-star" color="restaurant-color" *ngFor="let star of range(rating); let i = index"
                (click)="rate(i + 1)"></ion-icon>
      <ion-icon name="ios-star-outline" color="restaurant-color" *ngFor="let star of range(5 - rating); let i = index"
                (click)="rate(i + rating + 1)"></ion-icon>
    </div>
  </div>

  <div class="border-bottom white-bg" text-center padding>
    <ion-textarea class="feedback" [(ngModel)]="feedback" placeholder="Leave a review"></ion-textarea>
  </div>

   <!--list of reviews-->
  <ion-list margin-top class="list-full-border reviews">
    <div *ngFor="let review of vendor.reviews">
      <ion-item text-wrap>
        <ion-avatar item-left>
          <img src="{{review.avatarUrl}}">
        </ion-avatar>
        <div class="author">
          <span>{{review.name}}</span>
        </div>
        <div class="text-sm">
          <ion-icon name="md-star" color="restaurant-color" *ngFor="let start of range(review.rating)"></ion-icon>
        </div>
        <div>
          <span ion-text color="gray">{{review.comment}}</span>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
