page-points {
    > ion-content {
       background: #000428;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .points-container {
        display: flex;           /* establish flex container */
        flex-direction: column;  /* make main axis vertical */
        justify-content: center; /* center items vertically, in this case */
        align-items: center;
        color:#FFF;
        .supporting-text {
            font-size:1.2em !important;
        }

        .points-text {
            font-size:4em !important;
        }
    }

    ion-spinner {
        margin:25px 0;
       
        * {
            stroke: #FFF;
            fill: #FFF;
        }
        
        circle {
            stroke-width:45px !important;
        }

        svg:nth-child(1) {
            left:25px !important;
        }

        svg:nth-child(3) {
            left:-25px !important;
        }
    }

    .action-container{
        position:absolute; 
        top:0px; 
        left:0px; 
        width:100%;
        z-index:10000000;
        
        ion-card {
            background:rgba(255,255,255,0.6);

            ion-card-content.card-content {
                padding:0;
            }
        }

        .actions {
            text-align: center;

            ion-icon {
                font-size:2em;
            }

            p {
                text-transform: uppercase;
                font-size:0.8em;
            }

            img.action-icon { 
                max-height: 25px;
                width: auto;
                display: block;
                text-align: center;
                margin: 5px auto 13px;
            }
        }
    }

    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        background:#FFF;
        opacity:0.6
    }
    
}

.platform-ios {
    page-points {
        .action-container {
            top:15px;
        }
    }
}