<ion-content>

  <div class="action-container">
    	<ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <!--<ion-col col-4 class="actions" (tap)="scanReceiptConfirm()"><ion-icon name="barcode"></ion-icon> <p>Scan Receipt</p></ion-col>-->
              <ion-col col-4 class="actions" (tap)="showTransactionsPage()"><ion-icon name="swap"></ion-icon> <p>Transactions</p></ion-col>
              <ion-col col-4 class="actions" (tap)="showReceivePage()"><img src="assets/imgs/receive.png" class="action-icon" /> <p>Receive</p></ion-col>
              <ion-col col-4 class="actions" (tap)="showTransferPage()"><img src="assets/imgs/send.png" class="action-icon" /> <p>Send</p></ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
  </div>

  <ion-slides pager class="points-container" (ionSlideDidChange)="onSlideChanged()">

    <ion-slide class="points-display">
      <h2 class="supporting-text">YOU CURRENTLY HAVE</h2>
      <h1 class="points-text" *ngIf="!isLoadingBalance">{{zdpBalance}}</h1>
      <ion-spinner name="dots" *ngIf="isLoadingBalance"></ion-spinner>
      <h2 class="supporting-text">DasPoints <br />(DAS)</h2>
    </ion-slide>

    <ion-slide class="points-display">
      <h1 class="points-text" *ngIf="!isLoadingBalance">{{currencySymbol}}{{zdpConversion}}</h1>
      <ion-spinner name="dots" *ngIf="isLoadingBalance"></ion-spinner>
    </ion-slide>
  </ion-slides>
</ion-content>
