<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Help &amp; Info</ion-title>
    <ion-buttons start>
      <button ion-button  (tap)="saveAccount()">
        Save
      </button>     
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text" readonly [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>First Name</ion-label>
    <ion-input type="text" [(ngModel)]="firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Last Name</ion-label>
    <ion-input type="text" [(ngModel)]="lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Phone</ion-label>
    <ion-input type="text" [(ngModel)]="phone"></ion-input>
  </ion-item>
</ion-list>

<hr />

<ion-list>
  <ion-item>
    <span item-start><strong>App Version</strong></span>
    <span item-end>{{appVersion}}</span>
  </ion-item>

  <button ion-item (tap)="launchPrivacyPolicy()"><strong>Privacy Policy</strong></button>
  <button ion-item  (tap)="launchTerms()"><strong>Terms of Use</strong></button>
  <button ion-item (tap)="logout()" text-center >Logout</button>
</ion-list>

</ion-content>
