<ion-tabs>
  <ion-tab tabIcon="swap" tabTitle="Wallet"  [root]="tab1"></ion-tab>
  <ion-tab tabIcon="basket" tabTitle="Vendors"  [root]="tab2"></ion-tab>
  <ion-tab tabIcon="bookmark" tabTitle="Bookmarks"  [root]="tab4" [rootParams]="isBookmark"></ion-tab>
  <ion-tab tabIcon="person" tabTitle="Member"  [root]="tab3"></ion-tab>
</ion-tabs>