page-map {
    #map {
        height:100%;
        width:100%;
    }

    ion-spinner.loading-indicator * {
        width: 28px;
        height: 28px;
        stroke: map-get($colors, primary);
        fill: #FFF; 
    }
}
