<ion-header>

  <ion-navbar>
    <ion-title>Locations</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="ios,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <map [vendorLocations]="this.markers" [mapContainerId]="'mapPage'" [userLocation]="this.userLocation" style="height:100%; width:100%;"></map>
  <ion-fab bottom right>
    <button ion-fab (tap)="findUser()" *ngIf="isLoading === false"><ion-icon name="locate"></ion-icon></button>    
    <ion-spinner class="loading-indicator" *ngIf="isLoading === true"></ion-spinner>
  </ion-fab>
</ion-content>
