    /*
    Flaticon icon font: Flaticon
    Creation date: 22/05/2018 05:36
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../assets/fonts/flaticon/Flaticon.eot");
  src: url("../assets/fonts/flaticon/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/flaticon/Flaticon.woff") format("woff"),
       url("../assets/fonts/flaticon/Flaticon.ttf") format("truetype"),
       url("../assets/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../assets/fonts/flaticon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^=" ion-md-icon-"]:before, [class*=" ion-md-icon-"]:before,
[class^=" ion-md-icon-"]:after, [class*="  ion-md-icon-"]:after,   
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  @extend .ion;
  font-family: Flaticon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

    .flaticon-multimedia:before { content: "\f100"; }
.flaticon-money:before { content: "\f101"; }
    
  $font-Flaticon-multimedia: "\f100";
  $font-Flaticon-money: "\f101";
 
  @mixin makeIcon($arg, $val) {
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-circle:before ,
  .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-circle:before ,
  .ion-md-#{$arg}-circle-outline:before ,
  .ion-md-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}

 @include makeIcon(icon-history, '\f100');
 @include makeIcon(icon-voucher, '\f101');