<!--
  Generated template for the VoucherGeneratePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="android,ios" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  

   <div class="points-container">

    <div class="points-display">
      <h2 class="supporting-text">YOUR BALANCE IS</h2>
      <h1 class="points-text">{{zdpBalance | toCurrency: currencyTy | async}}</h1>

      <ion-select [(ngModel)]="currencyTy" (ionChange)="updateBalance($event)" class="currencies">
        <ion-option *ngFor="let currency of availableCurrencies" [value]="currency.CurrencyTy">{{currency.Descr}}</ion-option>
      </ion-select>

      <ion-list>
        <button ion-item *ngFor="let discount of availableDiscounts" (tap)="confirmVoucherGenerate(discount)" [disabled]="discount > zdpBalance">
          {{discount | toCurrency: currencyTy | async}}
        </button>  
      </ion-list>
    </div>
  </div>
</ion-content>
