page-voucher-generate {
    > ion-content {
        background:#FFF;/*url(../assets/imgs/background.jpg);*/
    }

    ion-slide.swiper-slide {
        align-items: flex-start;
    }

    .points-container {
        display: flex;           /* establish flex container */
        flex-direction: column;  /* make main axis vertical */
        justify-content: center; /* center items vertically, in this case */
        align-items: center;

        .points-display {
            width:100%;
            text-align: center;
        }

        .supporting-text {
            text-align: center;
            font-size:1.2em !important;
        }

        .points-text {
            text-align: center;
            font-size:4em !important;
        }
    }

    .currencies {
        text-align: center;
        margin:-15px auto 20px;
    }

    .qr-image {
        margin:20px auto;
    }
}
