// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/_flaticon";

.clearfix {
    clear:both;
}

.bg-transparent {
    background:transparent !important;
}

.toolbar-background {
    background:#004e92;
}

.toolbar-title {
    color:#FFF;
}

ion-header ion-navbar ion-icon {
    color:#FFF;
}

.wrap {
   white-space: initial;
}

ul.rating {
    padding: 0px;
    margin:0;
    &.rating li {
        padding: 0px 0px !important;
        background: none;
        color: #ffb400;

        ion-icon {
        font-size: 20px;
        }
    }


    &.rating li:first-child {
        padding-left:0px !important;
    }
}

.primary-bg {
  background-color: color($colors, primary);
}

.secondary-bg {
  background-color: color($colors, secondary);
}

.gray-bg {
  background-color: color($colors, gray);
}

.light-bg {
  background-color: color($colors, light);
}

.common-bg {
  background-color: color($colors, common-bg);
}

.white-bg {
  background-color: color($colors, white);
}

.restaurant-bg {
  background-color: color($colors, restaurant-color);
}

.hotel-bg {
  background-color: color($colors, hotel-color);
}

.attraction-bg {
  background-color: color($colors, attraction-color);
}

.padding-xs {
  padding: 10px;
}

.round {
  border-radius: 3px;
}

.full-width {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

// text size
.text-2x {
  font-size: 2em;
}

.text-1x {
  font-size: 1em;
}

.text-sm {
  font-size: 0.7em;
}

.bold {
  font-weight: bold;
}

// position
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.rlt {
  position: relative;
}

.clear {
  clear: both;
}

.align-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid color($colors, border-color);
}

// badge style
ion-badge {
  &.square {
    border-radius: 0;
  }
}


// list style
.list-no-border {

  .item:first-child {
    border: none;
  }
  .item:last-child {
    border: none;
  }

  .item {
    .item-inner {
      border: none;
    }
  }
}

.list-full-border {
  @extend .list-no-border;

  .item,
  .item:first-child,
  .item:last-child {
    border-bottom: 1px solid color($colors, border-color);

    .item-inner {
      border: none;
    }
  }
}

// item style
.item.no-border {

  .item-inner {
    border: none;
  }
}

// common classes
.middle-align {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.progress-bar {
    display: inline-block;
    height: 1rem;
  }