<!--
  Generated template for the VoucherImagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Voucher</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="ios,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <img [src]="qrImageUri" class="qr-image" (error)="loadDefaultImage($event)" />

  <ion-card>
    <ion-card-content>
      <div float-left><strong style="font-size:1.5em;">{{voucher.amount | toCurrency: voucher.currencyTy | async}}</strong></div>
      <div float-right>{{voucher.entryDate | voucherRedeemDate}}</div>
      <br clear="both" />
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>1. Vendor must accept this voucher first</ion-item>
    <ion-item>2. Vendor scans the voucher which initiates the transaction</ion-item>
    <ion-item>3. You receive the discount</ion-item>
  </ion-list>
</ion-content>
