<!--
  Generated template for the TransferPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Transfer DasPoints</ion-title>
    <ion-buttons start>
      <button class="close-button" ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="ios,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

<div style="position:relative;">
  <div *ngIf="this.address.length == 0" class="barcode-button" (tap)="scanQrCode()"><ion-icon name="ios-barcode-outline"></ion-icon></div>
</div>
<ion-list>
  <ion-item>
    <ion-label floating>
      Transfer To      
    </ion-label>
    <ion-input type="text" [(ngModel)]="address"></ion-input>

  </ion-item>
  
  <ion-item>
    <ion-label floating>Amount</ion-label>
    <ion-input type="tel" [(ngModel)]="amount" ></ion-input>
  </ion-item>

</ion-list>

<div style="position:relative;">
  <div  class="max-button" (tap)="setMaxAmount()">
     <button ion-button outline small>Max {{balance}}</button>
  </div>
</div>

<button ion-button outline large block (tap)="transferFunds()">Transfer</button>
</ion-content>
