page-transfer {
    .barcode-button {
        position:absolute;
        right: 0px;
        z-index: 100;
        font-size: 2em;
        top: 25px;
    }

    .max-button {
        position:absolute;
        right: 0px;
        z-index: 100;
        font-size: 2em;
        top: -65px;
    }
}
