map {
    #map {
        height:100%;
        width:100%;
    }

    .leaflet-popup-content-wrapper {
        .leaflet-popup-content {
             margin: 0;
             position:relative;

             h4 {
                position:absolute;
                bottom:10px;
                left:0; 
                font-size:1.4rem;
                font-weight:bold;
                background:rgba(0, 78, 146, 0.8);
                color:#FFF;
                padding:10px;
            }

            p {
                padding:15px;
                background:rgba(255,255,255,0.7);
            }
            
        }

        .popup-custom {
            background-repeat:no-repeat;
            background-position: top left;
            border-radius:12px;
            position:absolute; 
            top:-200px; 
            left:0; 
            width:300px; 
            border-radius:12px; 
            height:200px; 
            background-size: cover; 
        }
    }
}
