<!--
  Generated template for the ReceiveFundsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Request</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="ios,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <p>Tap to copy this address. Share it with the sender via email or text.</p>

    <img [src]="qrImageUri" class="qr-image"  (tap)="copyAddress(this.address)" />


  <p (tap)="copyAddress(this.address)">{{this.address}}</p>
</ion-content>
